body{background-color: #F5F5DC;text-align: center;font-family: Calibri;font-size: 17px;}
h1{text-align:center;color: #C21950;font-family: Serif;}
h2{color: #C21950; font-family: Serif;font-size: 40px;}
h3{color: #C21950; font-family: Serif;}

#film{
	margin-top: 70%;
}

#modifier_article {
	margin-top: 3%;
}

.bt_image {
	border: none; 
	outline: none;
}

#page{
	color: #FFFFFF;
	background-color: #C21950;
}

#bonjour{
	color: #C21950;
	font-family: Serif;
}
#laureat{
	font-style: italic;font-family:LearningCurveProRegular;font-size: 40px;
}
.btn-sample { 
	font-family: Serif;
	color: #ffffff; 
	background-color: #C21950; 
}

#page_article{
	text-align: center;
	background-color: #121251;
	left: 100%;
	margin-left: 30%;
	margin-right: 30%;

	
}
#images{
	height:100%;
	width: 100%;
	resize:none;
	overflow-x: scroll;
}
#titre, #contenu, #description, #form_creer_article {
	width: 100%;
}

.form-group, .control-label{
	font-family: Serif;
}
.footer{
	color: #C21950;
	font-family: Serif;
}
#footer, #primaPorta{
	color: #C21950;
	font-family: Serif;
}
#logopp{
	float: left;
	border: solid 3px;
	border-color: #C21950;
	margin-left: 4%;
}
.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #C21950; 
}


.titre {
	font-family: Serif;
	color: #C21950;
	font-size: 175%;
}

.navbar .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top;
}
.navbar .navbar-collapse {
	text-align: center;
	color: #C21950;
}

.navbar-default{
	background-color: #F5F5DC;
	border: none;
}

.jumbotron{
	background-color: transparent;
	text-align:left;
}
#p_navbar {
  text-align: center;
}
#p_navbar span.gauche {
  float: left;
}
#p_navbar span.droite {
  float: right;
}

.erreur{
	color: red;
}

.success {
	color: green;
}

#success_message{ display: none;}

/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    width:200px;
    height:150px;
}

.myImg:hover {
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.img-thumbnail{
	background-color: transparent;
	border-color: transparent;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    max-width: 50%;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

#header__icon{
	background-color: transparent;
	border: none;
}

#presentationAtelier, #textAtelier, #presentationDemarche, #textDemarche{
	margin-top: 50px;
}

.bulle{
	margin-left: 10px;margin-right: 10px;
}
.ovale{
	margin-left: 20px;margin-right: 20px;
	border: solid 3px;
	border-color: #C21950;
	width: 240px;
	height: 300px;
}
.bouton_nav{
	padding-left: 1.2%;
	padding-top: 1.2%;
	
}
.form-inscription{
	display:none;
}
.form-contact{
	font-family: Serif;
	background-color: #F5F5DC;
	color: #707070;
	font-size: 120%;
}
.legend-contact{
	color:  #505050;
	font-size: 200%;
}
.btn-warning,
.btn-warning:focus,
.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning:active:focus{
	background-color: #C21950;
}