h1{text-align:center;color: #C21950;}
.btn-sample { 
  color: #ffffff; 
  background-color: #C21950; 
} 
body{
	background-color: #F5F5DC;
	text-align: center;
}

.btn-sample:hover, 
.btn-sample:focus, 
.btn-sample:active, 
.btn-sample.active, 
.open .dropdown-toggle.btn-sample { 
  color: #ffffff; 
  background-color: #A11846; 
} 

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
  color: #C21950;
}

.navbar-default{
	background-color: #F5F5DC;
	border: none;
}

p {
  text-align: center;
}
p span.gauche {
  float: left;
}
p span.droite {
  float: right;
}